<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>

<div th:text="${errorMessage}"></div>
<div>
  <a th:href="@{/star}">All stars</a>
</div>

</body>
</html>