<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>All stars</title>
</head>
<body>

<h2>Stars from (in memory) DB</h2>

<div>
<a th:href="@{/star/addForm}">Add New Star</a>
</div>

<div th:each="star : ${allStarsFromDB}">
  <div th:text="${star.id}"></div>
  <div th:text="${star.name}"></div>
  <div th:text="${star.category}"></div>
  <div th:text="${star.ageInEarthYears}"></div>
  <a th:href="@{/star/editForm/{id}(id=${star.getId()})}">Edit Star</a>
  <a th:href="@{/star/delete/{id}(id=${star.getId()})}">Delete Star</a>
</div>

<!--<div th:if="${successMessage}">-->
<!--  <div th:text="${successMessage}"></div>-->
<!--</div>-->

<!--<div th:if="${errorMessage}">-->
<!--  <div th:text="${errorMessage}"></div>-->
<!--</div>-->

</body>
</html>