<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Success</title>
</head>
<body>


<div th:text="${successMessage}"></div>
<div>
  <a th:href="@{/star}">All Stars</a>
</div>

</body>
</html>