<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Star </title>
</head>
<body>

<h2>Add Star</h2>

<form action="#" th:action="@{/star/addForm}" th:object="${starToAdd}" method="post">

  <div><input type="text" th:field="*{name}"></div>
  <div><input type="text" th:field="*{category}"></div>
  <div><input type="number" th:field="*{ageInEarthYears}"></div>
  <div><input type="submit" value="Submit"></div>

</form>

<!--<div th:if="${errorMessage}">-->
<!--  <div th:text="${errorMessage}"></div>-->
<!--</div>-->

</body>
</html>